<div style="display: flex;">
    <div id="head">
        <div id="brand">
            <a style="text-decoration: none; color: black" routerLink="/landing">
                <h1 style="padding: 0 10px 0 10px;">[̲̅M][̲̅y][̲̅S][̲̅h][̲̅o][̲̅p]</h1>
            </a>
        </div>
        <div id="head-search">
            <input type="text " [(ngModel)]="this.mainService.productsRequest.name ">
            <button (click)="this.mainService.getProducts(this.mainService.productsRequest) " routerLink="/products">Szukaj Produktu</button>
        </div>
        <div id="head-panel">
            <div>
                <button routerLink="/cart" id="cartBtn">Koszyk ({{getCartQuantity()}})</button>
            </div>
            <div>
                <button routerLink="/dashboard" id="dashboardBtn">Dashboard</button>
            </div>
        </div>
    </div>
</div>
