<app-panel-top></app-panel-top>

<div class="products">
    <table style="margin:0 auto;" id="productsTable">
        <thead *ngIf="this.mainService.products">
            <tr>
                <th>obrazek</th>
                <th>dane</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let product of this.mainService.products?.productsTable">
                <tr style="background-color: whitesmoke; border: 1px solid black;">
                    <td style="width: 30%;">
                        <img src="{{product.thumbnail}}" alt="">
                    </td>
                    <td style="width: 70%;">
                        <div>
                            <ul style="padding: 0 40px 0 40px;">
                                <ol>
                                    <h1><b>{{product.title}}</b></h1>
                                </ol>
                                <ol>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores tempora, reiciendis alias ipsum possimus quo earum laborum necessitatibus obcaecati deserunt commodi perferendis optio sapiente adipisci quos esse rerum
                                        maxime aspernatur eos quaerat, facere iure ipsa libero impedit? Ullam iusto illo quis quasi nihil, nobis repellendus voluptate fuga, commodi illum repellat.</p>
                                </ol>
                                <ol>Kategoria: {{product.category}}</ol>
                                <ol>
                                    <h2><b>Cena: {{product.price}} zł</b></h2>
                                </ol>
                            </ul>
                            <div>
                                <button class="buy" (click)="addToCart(product)">Do koszyka</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
